.TitleBar {
	border-top: solid #7684c5;
	border-width: 6px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	font-size: 1.5em;
	color: white;
	text-align: center;
}
.divideBar {
	border-top: solid #7684c5;
	border-width: 6px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	font-size: 1.5em;
	color: white;
}
.labeler{
	background-color: rgba(161,161,161,1);
	margin-left: 24px;
	color:#e2e2e2;
}
.levelText{
	color: #555555
	}
.dropDown{
	overflow: hidden;
	width: 226px;
	margin-left: 30px;
	background: url("resources/Arrow.png")no-repeat #dfdfdf 200px 2px;	
}
select {
    border:0;
    background:transparent;
    height:24px;
    border:1px solid #d8d8d8;
    width:226px;
    -webkit-appearance: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.2em;
    color: #777777
}

.logo{
	color:#e2e2e2;
	white-space: nowrap;
	-webkit-animation: rightThenLeft 30s linear;
	margin-right: 10000px;
	margin-left: 24px; 
}
@-webkit-keyframes rightThenLeft {
    0%   {margin-right:100%;}
    50%  {margin-right:0;}
    100% {margin-right:100%;}
}
.logoWrapper{
	max-width: 100%;
	border-top: solid #7684c5;
	border-width: 6px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: rgba(0,0,0,0.5);
	height: 18px;
	text-align: right;
}
button {
  color: #7684c5;
  font-weight: bold;
  font-size: 110%;
  text-transform: uppercase;
  margin-left: 24px;
}